@tailwind base;
@tailwind components;
@tailwind utilities;

.tr__th {
  width: 100%;
}

.th__id,
.th__regDate,
.th__content {
  position: sticky;
  top: 0;
}

.th__id {
  width: 60px;
}

.th__regDate {
  width: 180px;
}

td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.td__content {
  padding-left: 1rem;
  text-align: left !important;
}
